.container
{
  background-image: url('../../assets/images/2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.card
{
  background-image: url('../../assets/images/22.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.card-text{
  color:black;
}
.card-title{
  color:black;
}
