<div class="container m-5 justify-content-center">
  <div class="p-5 border bg-transperent">
    <div class="card">
        <h1 class="card-header text-center">
         <b> LOGIN FORM</b>
        </h1>
        <div class="card-body">
            <div class="p-5 justify-content-center">
                <form [formGroup]="loginform" class="form-group" (ngSubmit)="onSubmit()" >


                  <div class="mb-3 row">
                      <div class="col-4"></div>
                      <div class="col-4 form-floating">
                    <input type="text" name="username" id="username" class="form-control" placeholder="UserName" formControlName="username"
                    [ngClass]="{error:getControl('username')?.errors && getControl('username')?.touched}"> <br>
                    <div *ngIf="getControl('username')?.errors && getControl('username')?.touched">
                      <small class="text-primary" *ngIf="getControl('username')?.errors?.['required']">Username is Required</small>
                      <small class="text-primary" *ngIf="getControl('username')?.errors?.['maxlength']|| getControl('username')?.errors?.['minlength']|| getControl('username')?.errors?.['pattern']">Enter UserName Valid</small>
                    </div>
                    <label id="username" class="form-label"><b>User Name</b></label>
                  </div>
                  <div class="col-4"></div>
                  </div>
                  <div class="mb-3 row">
                    <div class="col-4"></div>
                      <div class="col-4 form-floating">

                    <input type="text" name="email" class="form-control" id="email" placeholder="Email"formControlName="email" [ngClass]="{error:getControl('email')?.errors && getControl('email')?.touched}"> <br>
                    <div *ngIf="getControl('email')?.errors && getControl('email')?.touched">
                      <small class="text-primary" *ngIf="getControl('email')?.errors?.['required']">Email is Required</small>
                      <small class="text-primary" *ngIf="getControl('email')?.errors?.['maxlength']||  getControl('email')?.errors?.['pattern']">Enter a Valid Email</small>
                    </div>
                    <label id="email" class="form-label"><b>Email</b></label>
                  </div>
                  <div class="col-4"></div>
                  </div>
                  <div class="mb-3 row">
                      <div class="col-4"></div>
                      <div class="col-4 form-floating">

                    <input type="text" name="password" id="password" class="form-control" placeholder="Password" formControlName="password"  [ngClass]="{error:getControl('password')?.errors && getControl('password')?.touched}"> <br>
                    <div *ngIf="getControl('password')?.errors && getControl('password')?.touched">
                      <small class="text-primary" *ngIf="getControl('password')?.errors?.['required']">Password is Required</small>
                      <small class="text-primary" *ngIf="getControl('password')?.errors?.['maxlength']||  getControl('password')?.errors?.['pattern']|| getControl('password')?.errors?.['minlength']">Enter a Valid Password</small>
                    </div>
                    <label id="password "class="form-label"><b>Password</b></label>
                    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
                    <span class="material-symbols-outlined">
                      visibility_off
                      </span>
                    </div>

                    <br>
                    <div class="mb-3 row">
                      <div class="col-4"></div>
                      <div class="col-4 form-floating">
                    <div class="nav-item"><a routerLink="/forgot-password" ><b>Forgot Password?</b></a></div>
                    </div>
                    </div>
                    <div class="col-4"></div>
                   </div>
                  <div class="mb-3 row">
                    <div class="col-4"></div>
                    <div class="col-4 form-floating">
                    <input type="submit" class="btn btn-primary" [disabled]="loginform.status === 'INVALID'">  &nbsp;
                    <input type="reset" class="btn btn-primary" [disabled]="loginform.status === 'VALID'" value="Reset">
                  </div>
                  <div class="col-4"></div>
                </div>
              </form>
            </div>

            </div>
            <div class="mb-3 row">
            <div class="col-4"></div>
            <div class="col-4 form-floating">
           <a routerLink="/library-management"><b>Create New User!</b></a>
           </div>
           </div>
           <br>
           <div class="mb-3 row">
            <div class="col-4"></div>
            <div class="col-4 form-floating">
          <a routerLink="/book-issuing" ><b>Book Issuing</b></a>
          </div>
          </div>
          <br>
          <div class="mb-3 row">
            <div class="col-4"></div>
            <div class="col-4 form-floating">
            <a routerLink="/book-submitting" ><b>Book Submitting</b></a>
         </div>
        </div>
          </div>

        </div>

      </div>






  <router-outlet></router-outlet>
