<div class="container mt-4">
  <div class="row ">
    <div class="col">
      <div class="p-3 border bg-light">
        <div class="card">
          <div class="card-body">
              <h1 class="text-center">Library</h1>
                     <div class="card-text"></div>
                <form [formGroup]="form1" (ngSubmit)="form1.status!=='INVALID' && form1fn()">
                  <div class="mb3">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" formControlName="email" [ngClass]="{srror:getControl('email')?.errors && getControl('email')?.touched}">
                    <div *ngIf="getControl('email')?.errors && getControl('email')?.touched">
                      <small class="text-danger" *ngIf="getControl('email')?.errors?.['required']">Email is Required</small>
                      <small class="text-danger" *ngIf="getControl('email')?.errors?.['email']">Invalid Email Format</small>
                    </div>

                  </div>
                  <button type="submit" [disabled]="form1.status==='INVALID'">Reset Password </button> <br>
                  <a href="login">Go to Login</a>
                </form>
              </div>
            </div>
            </div>
            </div>
          </div>
        </div>
