button{
  color:white;
  background-color: blue;
}
.card{
  background-image: url("../../assets/images/11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color:cyan;
}
.card{
  color:brown;
  font-weight: bold;
}
