<div class="container m-5 p-5">
  <div class="row">
    <div class="col">
      <div class="p-3 border bg-light">
        <div class="card">
          <div class="card-body">
            <div class="card-title text-center pb-3"><h1>Book Issuing</h1></div>
            <div class="card-text">
              <div class="mb-3 row">

                <label for="bookid" class="col-sm-3 col-form-label"><b>BOOK ID</b></label>
                <div class="col-sm-9">
                <input type="number" name="bookid" id="bookid"
                class="form-control" placeholder="Enter Bookid" [(ngModel)]="bookid">
              </div>
            </div>
            <div class="mb-3 row">
                <label for="bookname" class="col-sm-3 col-form-label"><b>BOOK NAME</b></label>
              <div class="col-sm-9">
                <input type="text" name="bookname" id="bookname"
                class="form-control" placeholder="Enter BookName" [(ngModel)]="bookname">
              </div>
            </div>
            <div class="mb-3 row">
              <label  class="col-sm-3 col-form-label"><b>AUTHOR NAME</b></label>
              <div class="col-sm-9">
                    <select name="author" [(ngModel)]="author">
                      <option *ngFor="let a of Author" [value]="a">{{a}}</option>
                    </select>
              </div>
              </div>
            <div class="mb-3 row">
              <label for="borrowername" class="col-sm-3 col-form-label"><b>BORROWER NAME</b></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="borrowername"
                id="borrowername" placeholder="Enter BorrowerName" [(ngModel)]="borrowername">
              </div>
            </div>

              <div class="mb-3 row">
                <label for="issuedate"class="col-sm-3 col-form-label"><b>ISSUE DATE</b></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="issuedate"
                  id="issuedate" placeholder="Enter Date"
                  [(ngModel)]="issuedate">
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-sm-9">
                <button class="btn btn-primary" (click)="AddDetails()">Add Details</button>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-3 border bg-light">
      <app-list [listbrt]="prdtdata" (item)="delprdt($event)"></app-list>
  </div>
</div>

</div>
<div *ngIf="canIssueBooks">
  <!-- Your book issuing component template -->
  <h2>Book Issuing</h2>
</div>
<div *ngIf="!canIssueBooks">
  <h2>Access Denied</h2>
  <p>You don't have permission to issue books.</p>
</div>
